<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Users</a>
      
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
    <div [hidden]="!isUserAdding" class="card-body">
        <h3>Updating user in database...</h3>
      </div>
</div>

<div [hidden]="isUserAdding" class="card">
  <div  class="card-header">
    <h3>Edit User ID: {{ user.id }}
      <button (click)="resetForm(userForm)" class="btn btn-warning float-right">Reset form</button>
    </h3>
    
  </div>
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" 
        name="username" 
        #userName="ngModel" 
        [ngClass]="{'is-invalid':userName.errors && userName.touched}"
          [(ngModel)]="user.username" 
          minlength="2" required
          [(value)]="user.username"
          >
        <div [hidden]="!userName.errors?.required" class="invalid-feedback">
          User name is required
        </div>
        <div [hidden]="!userName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" #userEmail="ngModel" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
          [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(value)]="user.email">
        <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
          Email is required
        </div>
        <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
          Email is not valid
        </div>
      </div>
      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" 
        class="form-control" 
        name="phone" 
        #userPassword="ngModel" 
        [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}"
        value=""
        [(ngModel)]="user.password" minlength="8" required>
        <div [hidden]="!userPassword.errors?.required" class="invalid-feedback">
          Password is required
        </div>
        <div [hidden]="!userPassword.errors?.minlength" class="invalid-feedback">
          Must be at least 8 characters
        </div>
      </div>
      <div class="form-group">
        <label *ngIf="groups?.length > 0;else noGroupsSelect" for="exampleFormControlSelect1">User Group</label>
        <select 
        class="form-control" 
        name="person_group_id" 
        #userGroup="ngModel" 
        [ngClass]="{'is-invalid':userGroup.errors && userGroup.touched}"
        [(ngModel)]="user.person_group_id"
        minlength="1"
        required>
          <option  *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
        </select>
        <div [hidden]="!userGroup.errors?.required" class="invalid-feedback">
          User group is required
        </div>
      </div>
      <input type="hidden" [(ngModel)]="user.id" name="id">
      <input *ngIf="groups?.length > 0;else noGroupsButtonDisabled" type="submit" value="Update user ID: {{ user.id }}" class="btn btn-primary btn-block">
    </form>
  </div>
</div>

<ng-template #noGroupsSelect>
  <hr>
  <label>Loading groups from database...</label>
</ng-template>

<ng-template #noGroupsButtonDisabled>
  <hr>
<input disabled type="submit" value="Submit" class="btn btn-primary btn-block">
</ng-template>