<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Workshop3 Angular Frontend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="/solutions" class="nav-link">Solutions</a>
        </li>
        <li class="nav-item">
            <a routerLink="/exercises" class="nav-link">Exercises</a>
          </li>
          <li class="nav-item">
              <a routerLink="/groups" class="nav-link">Groups</a>
            </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li [hidden]="isUserLogged" class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li [hidden]="!isUserLogged" class="nav-item">
         <a href="#" class="nav-link">Logged user: {{ userLogin }}</a>
        </li>
        <li [hidden]="isUserLogged" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li (click)="LogOut()"  class="nav-item" [hidden]="isLogged">
          <a  href="" [hidden]="!isUserLogged" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #noUsers>
  <hr>
  <h5>Loading users from database...</h5>
</ng-template>